
.dark_mode {
  color:white;
}
.main_container {
  color: white;
  text-align: center;
  height: 150vh;

}
#sign_up,
#sign_in {
  background-color: black (15, 15, 15, 0.7);
  position: fixed;
  border-radius: 3rem;
  left: 250px;
  width: 900px;
  height: 500px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  filter: drop-shadow(5px 5px 5px 5px rgba(0, 0, 0, 0.3));
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.3);
  
}
#sign_up {
  display: flex;
}
#sign_in {
  display: none;
}
.inputg {
  width: 300px;
  margin-left: 30px;
  margin-bottom: 20px;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #7b7b7b;
}
input:not(:placeholder-shown) {
  background-color: #7b7b7b;
  color: #fff;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  color: #fff;
}
input[type="text"]:required:valid,
input[type="email"]:required:valid,
input[type="password"]:required:valid {
  color: #fff;
}
.left_part,
.right_part {
  width: 450px; /* Half of the parent */
  height: inherit;
  overflow: hidden;
}
#sign_in > .left_part {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
#sign_up > .left_part {
  padding-left: 40px;
  border-top-left-radius: inherit;
  border-bottom-left-radius:inherit;
  background: rgb(208, 207, 207);
}
#sign_in > .right_part {
  padding-right: 40px;
  border-top-right-radius:inherit;
  border-bottom-right-radius:inherit;
  background: rgb(208, 207, 207);
}
#sign_up > .right_part {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
#sign_up > .right_part > img {
  object-fit: cover;
  height: 500px;
  width: 500px;
}
#sign_in > .left_part > img {
  object-fit: cover;
  height: 500px;
  width: 500px;
}
h1 {
  color:black;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
    font-weight: 700;
}
.input-group{
    margin-left: -5px;
}
li{
    text-align: left;
}
.password-strength-icon {
  position: relative;
  cursor: pointer;
  top: 30%;
  left: 40px;
}
.password-suggestions-tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  max-width: 200px;
  overflow-wrap: break-word;
}

.password-strength-icon:hover .password-suggestions-tooltip {
  visibility: visible;
  opacity: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-70%);
  max-width: 200px;
}

@media(max-width:1048px){
  #sign_up,
  #sign_in{
      width : 600px;
    }
    #sign_up{
      align-items : center;
    }
    #sign_in{
      padding-left : 4px;
    }
    .input-group,.inputg{
      width : 200px;
      
    }
    #sign_up > .right_part > img{
      width: 300px;
      object-fit: fill;
    }
    #sign_in > .left_part > img{
      width: 300px;
      object-fit: fill;
    }
    
@media(max-width:884px){
  #sign_up,
  #sign_in{
      width : 400px;
    }
    #sign_up{
      align-items : center;
      padding-left: 5px;
    }
    #sign_in{
      padding-left : 1px;
    }
    .input-group,.inputg{
      width : 150px;
      
    }
    .left_part,
    .right_part { 
      width:400px;
    }

  
    #sign_up > .right_part > img{
      width: 250px;
      object-fit: fill;
    }
    #sign_in > .left_part > img{
      width: 250px;
      object-fit: fill;
    }
    .main_container{
      padding-right: 50px;
    }
    .main_container > .center-block{
      width: 400 px;
      display: block;
      height: 500px;
    }
    #sign_up > .left_part 
    {
      padding-left: 7px;
    }
        #sign_up > .right_part
        {
          padding-right: 7px;
        }
      }
      